*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Samsung Sharp sans";
}
html,body{
    width: 100%;
    height: 100%;
    position: relative;
    
}
/* styling moving cirle cursor */
.gola{
    position: absolute;
    width:170px;
    height: 170px;
    background-color: rgb(26, 79, 26);
    z-index: 1;
    border-radius: 50%;
    text-align: center;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:start  ;
    padding: 2%;
    box-shadow: 5px 2px 30px rgb(117, 169, 37);
}
.top{
    width: 100%;
    height: 100%;
    /* position: relative; */
    overflow: hidden;

}
.top video{
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.logosection{
    width: 100%;
    height:40%;
    background-color: rgba(77, 78, 74, 0.865);
    position: absolute;
    bottom:0;
    padding:0.5%;
 

}
.nav{
    width: 100%;
    height:8vh;
    background-color: rgb(112, 201, 219);
    padding:0px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .left h2{
font-size: 2vw;
font-weight: 600;
}
.right a{
    font-size: 40px;
    text-decoration: none;
    
}
.logosection h1{
    font-size: 13vw;
    /* font-family: ''; */
    font-weight:100;
    /* letter-spacing: 20px; */
    color:white;
}
  

.uppernav{
   background: radial-gradient(circle, rgba(238,174,202,1) 39%, rgba(148,187,233,1) 62%);
    position: absolute;
    top:-30%;
    width:100%;
    height:40%;
    padding:1%;
    z-index:1;
    opacity: 0;

}
.upright{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}
.upright a{
    color:black;
    font-size: 2.5vw;
    text-decoration: none;
    /* font-family: 'Poppins'; */
    font-weight:600;
}
#bar{
    cursor: pointer;
    font-size: 3vw;
    font-weight: 100;
}
#close{
    position: absolute;
    right:1%;
    bottom:3%;
    color:white;
    background-color: rgb(65, 61, 61);
    padding:10px 17px;
    font-size: 1.1vw;
    font-weight: 900;
    border:none;
    border-radius:50%;
    cursor: pointer;
}
.singleh1{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space:pre;
}
.page2{
    width: 100%;
    height: 100%;
    background-color: rgb(246, 242, 235);
    
    
}
.tech{
    width:100%;
    height:80%;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
padding:2%;
    /* right%; */

}
.text1{
    width:40%;
    height: 100%;
}
.visual1{
    width:50%;
    height: 100%;
}
.text1 p{
    font-size: 5vw;
    font-weight: 100;
    font-family: "Kajiro";
    /* font-stretch: 200%; */
    letter-spacing: 3px;
    color:rgb(67, 66, 66)
}
.sameh2{
    color:rgb(247, 147, 89);
    font-size: 8vw;
    /* font-size: 2.3vw; */
}
/* .samep{
    text-align: justify;
    font-weight: 500;
    font-family: 'Poppins';
} */
.page2 video{
    /* height: 60%; */
    width:100%;
    object-fit: cover;
    /* position: relative; */
}
.page3{
    width: 100%;
    height: 100%;
    padding: 2%;
    background: #F6F2EB;

position: relative;
    
}
.visual video{
    height: 100%;
    /* width:100%; */
    object-fit: cover;
    /* object-position: top; */
    /* position: relative; */
}
 .tech2{
    width:90%;
    height:90%;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    top:0;
    left:5%;
}
.visual{
    width:40%;
    height: 100%;
    /* border: 1px solid black; */
}
.text{
    width: 30%;
    /* border:1px solid black; */
    height: inherit;
    display: flex;
    flex-direction: column;
    
    justify-content:center;
}

.text p{
    font-size: 5vw;
    font-weight: 100;
    font-family: "Kajiro";
    /* font-stretch: 200%; */
    letter-spacing: 3px;
    color:rgb(67, 66, 66)
}
.page4{
    width: 100%;
    height: 100%;
    background-color: rgb(246, 242, 235);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap:20px;

}
.cards img{
    width:300px;
    height: 300px;
    border-radius: 50%;
    object-position: center;
    transition: 0.5s;
    
}
.cards img:hover{
    transform:scale(1.1);
    box-shadow: 10px 10px 50px  rgba(63, 62, 62, 0.662);
}
.cards h2:hover{
    color:orangered;
    cursor: pointer;
}
.page5{
    width: 100%;
    padding: 3%;
    height: 100%;
    background-color: rgb(246, 242, 235);
    display: flex;
    align-items: start;
    justify-content:start;
    gap:18vh;
    flex-direction: column;
    position: relative;
    z-index:1;
    /* border: 1px solid black; */
    overflow-x: hidden;
}
.page5 h1{
    font-size:5vw;
    color:rgb(21, 78, 10);
}
.description{
    padding:2%;
    /* border:1px solid black; */
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    z-index: 3;
    height:70%;
    /* border:1px solid black; */
}
.description p{
    font-size: 2.5vw;
    font-weight:500;
    /* border:1px solid black; */
    position: relative;
  
}
.description h2{
    font-size:4vw;
    font-weight: 600;
    font-family: "Raleway";
    color:rgb(13, 93, 13);
}
.sidebox{
    width:40%;
    height: 50%;
    background-color: rgb(129, 184, 129);
    position: absolute;
    right:0;
    opacity: 0.6;
    /* filter:blur(30%); */
   top:30%;
   z-index:2;
   

}
.page6{
    width: 100%;
    /* padding:0.5%; */
    height: 100%;
    
    
    
}
.backImg{
    width: 100%;
    height: 100%;
    /* border:1px solid black; */
    position: relative;

}

.purchaseItem{
    position: absolute;
    width:100%;
    height: 100%;
    border:1px solid white;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;
}
.items img{
    width:250px;
    height: 250px;
    border-radius: 50%;
    /* filter: grayscale(100%); */
    object-position: center;
    transition: 0.5s;
}

.items h2{
    color:rgb(38, 126, 58);
    font-weight: 700;
    text-align: center;
}
.items p{
    color:rgb(197, 73, 11);
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}
/* //page7 start */
.page7{
    width: 100%;
   background-color:rgb(246, 242, 235);
    height: 100%;
    position: relative;
   
    
    
    
}
.page7 h1{
    font-size: 5vw;
    /* display: inline-block; */
    font-family: "Poppins";
    font-weight: 500;
    /* position: relative; */
}
.page7 img{
    height: 150px;
    width: 200px;
    position: absolute;
    top:5%;
    right:30%;
   
}
input{
    width: 50%;
    height: 5.5vh;
    font-size: 1.5vw;
    border:none;
    padding:1.5%;
    border-radius: 30px;
    margin-top: 7%;
    margin-left: 5%;
}
#bt1{
   
    margin-left: 40%;
    font-size: 1.2vw;
    font-weight: 600;
    background-color: rgb(21, 110, 85);
    color:white;
    border:none;
    /* transform: translateX(); */
    /* width: 300px; */
}
.btn{
    padding:15px 30px;
    margin-top:2%;
    font-weight: 600;
    background-color: rgb(21, 110, 85);
    color:white;
    border:none;
    font-size: 1.2vw;
    /* text-align: center; */
}

span{
    font-family: 'Poppins';
    font-size: 2vw;
   
}
#off{
    /* color:blue; */
    font-family:'Kaufmann BT';
    text-align: center;
    margin-top: 6%;
    
}
#span2{
    color:orangered;
    font-size: 6vw;
    font-family:'Kaufmann BT'
}
/* page7ends */



